ideas/
*.html
.Rproj.user

/data-raw/coastwide-indices/ENSO_MEI.txt
/data-raw/coastwide-indices/oni.txt
/data-raw/coastwide-indices/AO.dat
/data-raw/coastwide-indices/PDO.dat
/data-raw/coastwide-indices/SOI.dat

/data-raw/roms/Roms_bcc42_mon_2008to2011_sst.nc
/data-raw/roms/BCC03_grd_b5.nc
/data-raw/roms/Roms_bcc42_mask.nc
/data-raw/roms/temp_nc.txt
/data-raw/roms/from-others/

/data-raw/hex-sticker/pacea.png

/data/sst.rda
/data/sst_time_1.rda
/data/sst_time_1_sf.rda
/data/test_grid_10.rda
/data/test_grid_2.rda

/R/older-functions/Upload_Data_Key.csv