ideas/
lib/

*.html
*.docx

.Rproj.user

/data-raw/coastwide-indices/ENSO_MEI.txt
/data-raw/coastwide-indices/oni.txt
/data-raw/coastwide-indices/AO.dat
/data-raw/coastwide-indices/PDO.dat
/data-raw/coastwide-indices/SOI.dat

data-raw/coastwide-indices/alpi-surry/alpi-from-chris-later.R
data-raw/coastwide-indices/alpi-surry/alpi-values-from-chris-orig.txt
data-raw/coastwide-indices/alpi-surry/alpi-values-from-chris.txt
data-raw/coastwide-indices/alpi-update.png

/data-raw/roms/Roms_bcc42_mon_2008to2011_sst.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_botTSO.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_surTSO.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_avg0to40m_TSOpH.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_avg100mtoBot_TSOpH.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_avg40to100m_TSOpH.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_botTSOpH.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_surTSOpH.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_zInt_PT.nc
/data-raw/roms/BCC03_grd_b5.nc
/data-raw/roms/Roms_bcc42_mask.nc
/data-raw/roms/temp_nc.txt
/data-raw/roms/from-others/

/data-raw/hex-sticker/pacea.png

/data/sst.rda
/data/sst_time_1.rda
/data/sst_time_1_sf.rda
/data/test_grid_10.rda
/data/test_grid_2.rda

/R/older-functions/Upload_Data_Key.csv
/data-raw/coastwide-indices/*.txt
/data-raw/groundfish/hake_recruitment_new.rda
/data-raw/groundfish/hake_biomass_new.rda
/data-raw/groundfish/hake-2024/*.rds

/data-raw/dummy.txt

/data-raw/pacific_marine_habitat_classes/*
/data-raw/buoys/andrea-code/Daily_mean_buoy_overview_2023-orig.png
/data-raw/buoys/andrea-code/andrea-emails.txt
/data-raw/buoys/andrea-code/*
data-raw/buoys/dfo_data_raw.Rds
data-raw/buoys/dfo_info.Rds
data-raw/buoys/opp_data_raw.Rds
data-raw/buoys/opp_info.Rds

/data-raw/groundfish/hake-recruitment-over-2010.csv
/data-raw/groundfish/hake-recruitment.csv

/data-raw/zooplankton/*.xlsx

/data-raw/mammals/harbour-seals/N_region_data_request_June_2023.csv
/data-raw/mammals/harbour-seals/pred_all_regions.csv
/data-raw/mammals/harbour-seals/SAR_harbour seal 2019.pdf
/data-raw/hex-sticker/temperature-map.png
/data-raw/hex-sticker/el-nino.png
/data-raw/hex-sticker/pacea-logos-1.pdf
/man/figures/README-test.png

/talks/pacea-release-talk.tex
/talks/pacea-release-talk.pdf
talks/pacea-release-talk_files/

talks/pacea-talk_files/
talks/pacea-talk.pdf
talks/pacea-talk.tex
talks/uvicEdwards11.ppt

data-raw/herring/
data-raw/lighthouses/BC_Lightstations_and_Other_Sample_Sites_V2.csv
data-raw/lighthouses/Data_-_Active_Sites_New.zip
data-raw/moorings/
data-raw/misc/snow.zip
/talks/pacea-release-talk-attendance.txt
/data-raw/buoys/buoy-sst-mar.R

data-raw/zooplankton/2024/*.*
data-raw/zooplankton/36_Young SOPO2022_submission.pdf
data-raw/zooplankton/Perry et al 2021_suppl fig1 journal.pone.0245941.s004.pdf
data-raw/zooplankton/kelly-emails.txt

data-raw/depth/S102_S111sample/
data-raw/depth/S102andS111.zip

data/older-data/test_grid_10.rda
data/older-data/test_grid_2.rda
data/older-data/test_grid_20.rda

.github/workflows/test-coverage-example-2.yaml
.github/workflows/test-coverage-example.yaml
.github/workflows/test-coverage-sdmTMB.yaml
/data-raw/depth/GEBCO_Grid_documentation.pdf
/data-raw/depth/GEBCO_Grid_terms_of_use.pdf
/data-raw/depth/gebco_2023_n58.0_s42.0_w-146.0_e-117.0.nc
