ideas/
lib/

*.html
.Rproj.user

/data-raw/coastwide-indices/ENSO_MEI.txt
/data-raw/coastwide-indices/oni.txt
/data-raw/coastwide-indices/AO.dat
/data-raw/coastwide-indices/PDO.dat
/data-raw/coastwide-indices/SOI.dat

/data-raw/roms/Roms_bcc42_mon_2008to2011_sst.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_botTSO.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_surTSO.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_avg0to40m_TSOpH.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_avg100mtoBot_TSOpH.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_avg40to100m_TSOpH.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_botTSOpH.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_surTSOpH.nc
/data-raw/roms/bcc42_era5glo12r4_mon1993to2019_zInt_PT.nc
/data-raw/roms/BCC03_grd_b5.nc
/data-raw/roms/Roms_bcc42_mask.nc
/data-raw/roms/temp_nc.txt
/data-raw/roms/from-others/

/data-raw/hex-sticker/pacea.png

/data/sst.rda
/data/sst_time_1.rda
/data/sst_time_1_sf.rda
/data/test_grid_10.rda
/data/test_grid_2.rda

/R/older-functions/Upload_Data_Key.csv
/data-raw/coastwide-indices/*.txt
/data-raw/groundfish/hake_recruitment_new.rda
/data-raw/groundfish/hake_biomass_new.rda
/data-raw/dummy.txt

/data-raw/pacific_marine_habitat_classes/*
/data-raw/buoys/andrea-code/Daily_mean_buoy_overview_2023-orig.png
/data-raw/buoys/andrea-code/andrea-emails.txt
/data-raw/buoys/andrea-code/*
data-raw/buoys/dfo_data_raw.Rds
data-raw/buoys/dfo_info.Rds
data-raw/buoys/opp_data_raw.Rds
data-raw/buoys/opp_info.Rds

/data-raw/groundfish/hake-recruitment-over-2010.csv
/data-raw/groundfish/hake-recruitment.csv
/data-raw/mammals/harbour-seals/N_region_data_request_June_2023.csv
/data-raw/mammals/harbour-seals/pred_all_regions.csv
/data-raw/mammals/harbour-seals/SAR_harbour seal 2019.pdf
